/*
    All css rules will be applied here
*/

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 10%;
    margin-right: 10%;
}

header > .logo{
    display: block;
    width: 5%;
    margin: auto;
}

.nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

a{
    text-decoration: none;
    color: black;
}

.nav-items{
    list-style: none;
}

.main-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap:12px;
}

section{
    flex: 1;
}

.promotion{
    display: flex;
    justify-content: center;
    align-items: center;
}

img.hero-pic{
    max-width: 60%;
    max-height: 60%;
}

.home{
    height: 50vh;
    margin: 72px 0 72px 0;
}

.hero-text{
    padding: 20px;
}

h1{
    margin: 12px;
}

h1, p, li{
    line-height: 1.5rem;
    word-spacing: 4px;
    letter-spacing: 2px;
}

.products{
    display: flex;
    justify-content: space-evenly;
    margin: 24px 0 24px 0;
    text-align: left;
}
.product > div > p{
    width: 300px;
    margin: 12px 0 12px 0;
}


.footer{
    display: flex;
    justify-content: space-between;
}

.footer > div {
    flex: 1;
}

.images{
    height: 350px;
    width: 300px;
    border-radius: 48px 0;
}

footer > div > .logo{
    display: block;
    width: 5%;
    margin: auto;
}

span{
    font-weight: bold;
}